<!-- Header part of page -->
<header>
    <div>
      <img src="https://www.fime.com/theme_fime/static/src/img/customize/logo-without-text.png"
        alt="Fime logo">
    </div>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a href="#" [routerLink]="['/services/', 3]" routerLinkActive="active">Services</a>
        </li>
        <li>
          <a href="#" routerLink="products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a href="#" routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li>
          <a href="#" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
