<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                        formControlName="email" [ngClass]="{'is-invalid':submitted && f['email'].errors}">
                    <div *ngIf="submitted && f['email'].errors">
                        <div *ngIf="f['email'].errors?.['required']" class="text-danger">
                            Email field shouldn't be Empty!
                        </div>
                        <div *ngIf="f['email'].errors?.['capValid']" class="text-danger">
                            Email mustn't start with Capital Letter!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd"
                        formControlName="pwd" [ngClass]="{'is-invalid':submitted && f['pwd'].errors}">
                    <div *ngIf="submitted && f['pwd'].errors">
                        <div *ngIf="f['pwd'].errors?.['required']" class="text-danger">
                            password field shouldn't be Empty!
                        </div>
                        <div *ngIf="f['pwd'].errors?.['minlength']" class="text-danger">
                            password field shouldn't be lesser than 8 characters!
                        </div>
                        <div *ngIf="f['pwd'].errors?.['maxlength']" class="text-danger">
                            password field shouldn't be Greater than 12 characters!!
                        </div>
                    </div>
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>>