<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="#" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                <div class="mb-3 mt-3">
                  <label for="email" class="form-label">Email:</label>
                  <input 
                        type="email" 
                        class="form-control"
                        id="email" 
                        placeholder="Enter email" 
                        name="email"
                        required
                        #email="ngModel"
                        [(ngModel)]="model.email"
                        [ngClass]="{'is-invalid':f.submitted && email.invalid}">
                        <div *ngIf="f.submitted && email.invalid">
                            <div *ngIf="email.errors?.['required']" class="text-danger">Email field shouldn't be empty!</div>
                        </div>
                </div>
                <div class="mb-3">
                  <label for="fname" class="form-label">First Name:</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      id="fname" 
                      placeholder="Enter First Name" 
                      name="fname"
                      #fn="ngModel"
                      [(ngModel)]="model.fn"
                      [ngClass]="{'is-invalid':f.submitted && fn.invalid}"
                      required
                      minlength="8"
                      maxlength="12"
                      >
                      <div *ngIf="f.submitted && fn.invalid">
                        <div *ngIf="fn.errors?.['required']" class="text-danger">Firstname field shouldn't be empty!</div>
                        <div *ngIf="fn.errors?.['minlength']" class="text-danger">Firstname field should be minimum of 8 characters!!</div>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="lname" class="form-label">Last Name:</label>
                  <input 
                      type="text" 
                      class="form-control" 
                      id="lname" 
                      placeholder="Enter First Name" 
                      name="fname"
                      #ln="ngModel"
                      [(ngModel)]="model.ln"
                      [ngClass]="{'is-invalid':f.submitted && ln.invalid}"
                      required
                      minlength="8"
                      maxlength="12"
                      >
                      <div *ngIf="f.submitted && ln.invalid">
                        <div *ngIf="ln.errors?.['required']" class="text-danger">Firstname field shouldn't be empty!</div>
                        <div *ngIf="ln.errors?.['minlength']" class="text-danger">Firstname field should be minimum of 8 characters!!</div>
                    </div>
                </div>
                <div class="mb-3">
                  <label for="msg" class="form-label">Message:</label>
                  <textarea class="form-control"></textarea>
                </div>
                <div class="form-check mb-3">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
